.form-container {
  width: 50%;
  margin: 0 auto;
}
.form-container input:not([type=checkbox]){
  width: 100%;
  height: 45px ;
  display: block;
  border: none;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow:2px 2px 5px #ddd ,-2px -2px 5px #ddd;
  outline: none;
  padding: 0 50px;
  font-size:1.1rem ;
}